# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science.
- List of popular libararies used for Data Science.
- List of popular tools used for Data Science.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia
5. Javascript
6. Scala
7. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. PyTorch
6. Scikit-learn
7. Tensorflow
8. Plotly

| Data Science Tools |
| ---- |
| Jupyter Notebook |
| TensorFlow |
| Scikit-learn |
| RapidMinder |
| KNIME |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Muhammad Waqas